.webgl-container {
    height: 60%;
    width: 100dvw;
    overflow: visible !important;
}

.webgl-container div {
    overflow: visible !important;
    position: relative !important;
}

.webgl-container canvas {
    background-color: rgba(0, 0, 0, 0);
    justify-content: start; 
    align-items: start;
}

@media screen and (min-width: 480px){
    .webgl-container {
        width: 100dvw;
        overflow: visible !important;
    }

    .webgl-container div {
        position: absolute;
        z-index: 0;
    }
}