#root {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  width: 100%; 
}

.root-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 18vh;
  box-sizing: border-box;
}

.defaultPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  top: 70px;
  width: 90%;
  height: 100%;
}

.defaultPage-container.loading {
  justify-content: center;
}

.defaultPage-container.result {
  position: relative;
}

.collectorCard-container.move-up {
  position: absolute;
  transform: translateY(calc(100dvh*-0.65));
}

/* These 2 only work for max-width: 470px */
.collectorCard-container {
  position: relative;
  display: flex;
  justify-content:center;
  width: 40vh;
  height: 60vh;
  margin-bottom: 20px;
  perspective: 1000px;
  border: #ffffffb7 solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 30px 3px rgba(255, 255, 255, 0.5);
}

.collectorCard-container.animation {
  animation: changePerspective 15s infinite;
}

@keyframes changePerspective {
  0% {
     transform: rotateX(10deg) rotateY(7deg); 
  }
  25% {
     transform: rotateX(10deg) rotateY(-7deg); 
  }
  50% {
     transform: rotateX(-10deg) rotateY(-7deg); 
  }
  75% {
    transform: rotateX(-10deg) rotateY(7deg); 
  }
  100% {
     transform: rotateX(10deg) rotateY(7deg); 
  }
}

.collectorCard {
  position: relative;
  width: 95%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  top: 7px;
  height: 57vh;
}

.logoImage {
  position: absolute;
  width: 6%;
  top: 0.4%;
  left: 94%;
  z-index: 1;
}

.userImage-container {
  position: absolute;
  max-width: 40%;
  aspect-ratio: 1/1;
  top: 14%;
  left: 30%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.userImage {
  position: relative;
  width: 93%;
  height: 93%;
  z-index: 0;
  border-radius: 10px; 
}

.foregroundImage {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.stickerImage {
  position: absolute;
  width: 100%;
  top: -35%;
  left: 45%;
  z-index: 2;
}

.jobData-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  top: 44%;
}

.jobTitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 32%;
}

.jobTitleText {
  color: var(--white-main, #FFF);
  font-family: Poppins;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1px;
  text-shadow: 
        2px 2px 0 #000, /* Right-down */
        -2px 2px 0 #000, /* Left-down */
        2px -2px 0 #000, /* Right-up */
        -2px -2px 0 #000, /* Left-up */
        2px 0 0 #000, /* Right */
        -2px 0 0 #000, /* Left */
        0 2px 0 #000, /* Down */
        0 -2px 0 #000; /* Up */
  margin-bottom: 10px;
}

.jobAttributes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.jobAttribute-individual {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 120px;
  height: 6dvh;
  border-radius: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.46);
  border: #000000 solid 1px;
  backdrop-filter: blur(1px);
}

.jobAttribute-individual p {
  width: 100%;
  align-self: flex-end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.textContainer.loading {
  margin-top: 100px;
}

.textContainer.failed {
  justify-content: center;
}

.textContainer.final {
  margin-top: 20px;
}

.inputField {
  display: flex;
  width: calc(100dvw*0.8);
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #2E2E2E;
  background: #161616;
  color: #777;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 10px;
  }

hr {
  height: 2px;
  width: 75%;
  margin: 10px 0;
}

p {
  margin-bottom: 0;
}

a {
text-decoration: none;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 0;
}

.valueText,
.attributeNameText {
  position: relative;
  color: black;
  text-align: start;
  /* bottom: -30%; */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 10px;
  z-index: 1;
}

.rarityText,
.leapwizeText,
.cardNumberText {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 10.534px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rarityText-container {
  text-align: center;
  margin-top: auto;
  height: 20px;
}

.rarityText {
  margin-top: 10px;
}

.leapwizeText {
  position: absolute;
  width: 40%;
  transform: rotate(-90deg);
  top: 48%;
  left: 80.5%;
}

.cardNumberText {
  position: absolute;
  transform: rotate(90deg);
  top: 26%;
  left: -3.5%;
}

.attributeNameText {
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
}

.textTop {
  color: var(--white-main, #FFF);
  text-align: center;
  max-width: 400px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.32px;
}

.textTop.failed {
  font-style: italic;
}
.textTop.message {
  text-align: start;
}

.textBottom {
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.32px;
}

.textSmall {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.28px;
}

.textSmaller {
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-bottom: 40px;
}

.numberText {
  color: var(--white-main, #FFF);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 83.294px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.666px;
}

.percentageText {
  color: var(--white-main, #FFF);
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 50px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1px;
}

.analysingText {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 10px;
}

.findJob-text {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 75.485px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 75.485px */
  letter-spacing: -1.51px;
  margin-bottom: 20px;
}

.faceAnimation-container {
  height: 60%;
  width: 100dvw;
  overflow: visible !important;
  background-image: url('./images/face-animation.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% + 10px) 50%;
}

.objectOne-image {
  position: fixed;
  width: auto;
  height: calc(100dvw*0.3);
  top: 4%;
  transform: translate(-160%, 0%);
}

.objectTwo-image {
  position: fixed;
  width: auto;
  height: calc(100dvw*0.3);
  transform: translate(150%, 50%);
}

.objectThree-image {
  position: fixed;
  height: calc(100dvh*1.25);
  width: auto;
  transform: translate(2%, 21%);
}

.objectThree-image.loading {
  transform: translate(2%, 6%);
}

.objectFour-image {
  height: calc(100dvh*0.25);
  width: auto;
}

@media screen and (max-width: 768px) {
  .objectOne-image {
    height: calc(100dvw*0.5);
    transform: translate(-100%, 0%);
  }

  .objectTwo-image {
    height: calc(100dvw*0.5);
    position: fixed;
    transform: translate(115%, -100%);
  }
}

@media screen and (max-width: 375px) {
.root-container-div {
  padding-bottom: 10vh;
}

.textContainer.loading {
 width: 70%;
 margin-top: 0;
}

.textContainer.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh*0.6)
 }

 .numberText {
font-size: 70px;
}

.percentageText {
font-size: 40px;
}

.analysingText {
font-size: 20px;
}

.textTop {
font-size: 14px
}

.findJob-text {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 75.485px */
  letter-spacing: -1.51px;
  margin-bottom: 20px;
 }

.collectorCard-container.move-up {
  position: absolute;
  transform: translateY(calc(100dvh*-0.70));
}

.objectThree-image.loading {
  transform: translate(2%, 3%);
}

}

.file-input {
  display: none;
}

button {
  color: var(--black-main, #0C0C0C);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.48px;
}

.buttonDefault {
  display: inline-block;
  height: 67px;
  padding: 0 30px;
  border-radius: 20px;
  border: 1px;
  background: #EAEAEA;
}

.buttonDefault.submit {
  margin-bottom: 10px;
}
.shareButton {
  display: flex;
  width: 67px;
  height: 67px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #6354FF;
}

.shareNotify-container {
  display: flex;
  flex-direction: column;
}

.shareNotify-container,
.submitEmail-container {
  opacity: 1;
  transition: opacity 5s ease; /* Duration of the fade effect */
}

.shareNotify-container.hidden,
.submitEmail-container.hidden {
  opacity: 0;
  transition: opacity 5s ease;
}

.shareNotify-buttonContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

