.collectorCard-page {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  gap: 19.9px;
}

.collectorCard-flashDesign {
  width: 319px;
  height: 461.1px;
  flex-shrink: 0;
  /* border-radius: 18px;
  border: 1px solid #2E2E2E; */
  background: #000;
  background-image: url('./images/Flash-Design-card-placeholder.png');
  background-size: cover;
  transition: transform 2s ease, box-shadow 2s ease;
}

.collectorCard-flashDesign:hover {
  transform: scale(1.10);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Apply box-shadow on hover */
}

.collectorCard-flashDesign.move-up {
  transform: translateY(-85%);
}

.userImage {
  margin: 77.8px; 
  width: 119.749px;
  height: 119.749px;
  flex-shrink: 0;
  border-radius: 18.633px;
  background: lightgray 50% / cover no-repeat, var(--white-main, #FFF);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

hr {
  height: 2px;
  width: 75%;
}

p {
  margin-bottom: 0;
}

a {
text-decoration: none;
}

.textTop {
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.32px;
}

.textBottom {
  color: #777;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.32px;
}

.shareTitle {
  width: 346px;
  color: var(--white-main, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.32px;
}

.shareNotify-container {
  display: flex;
  flex-direction: column;
}

.shareNotify-container,
.submitEmail-container {
  opacity: 1;
  transition: opacity 5s ease; /* Duration of the fade effect */
}

.shareNotify-container.hidden,
.submitEmail-container.hidden {
  opacity: 0;
  transition: opacity 5s ease;
}

.shareNotify-buttonContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

button {
  color: var(--black-main, #0C0C0C);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.48px;
}

.shareButton {
  display: flex;
  width: 67px;
  height: 67px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #1F1F1F;
}

.buttonDefault {
  display: flex;
  width: 267px;
  height: 67px;
  padding: 25px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px;
  background: #EAEAEA;
}

.buttonDefault.starten {
  width: 150px;
}









.collector-card {
  height: 60vh;
  width: auto;
  background-color: #e1d995;
  border-radius: 10%;
  margin-left: 100px;
  border-width: 1em;
  border-color: rgb(159, 152, 152);
  border-style: solid;
  padding: 5px 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for box-shadow here */
}

.collector-card:hover {
  transform: scale(1.10);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Apply box-shadow on hover */
}